.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
}

.edit-profile-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #218838;
}

.update-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.profile-image-label {
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.preview-profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000;
}


.edit-icon {
    width: 35px;
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 45px;
}

.profile-image-label:hover, .profile-image, .edit-icon {
    cursor: pointer;
    transform: scale(1.05);
}

input[type="file"] {
    display: none;
}
