.sectionCardContainer {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionCardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionCardTitleLine {
    position: absolute;
    width: 95%;
    max-width: 650px;

    border-bottom: 3px solid var(--slate-black);
    border-radius: 5px;
}

.sectionCardTitle > p {
    position: absolute;
    background-color: white;
    padding: 0 10px 0 10px;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}


.sectionCardContainer > .sectionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 1.5rem;
    gap: 1.5rem;


    background: linear-gradient(90deg, white 0%, #fff7ef 50%, white 100%);
}

.hindiTextContainer > p {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.englishTextContainer > p {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.meaningTextContainer > p {
    color: var(--slate-black);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


/* Mobile */
@media (max-width: 700px) {

    .sectionCardContainer {
        margin-top: 5rem;
    }

    .sectionCardContainer > .sectionCard {
        justify-content: space-between;
    }
}

.button {
    padding: 0.8rem 3rem;
    color: #F5F5FA;
    background: linear-gradient(#FFAD59 0%, #FF7E7B 80%);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.button:hover {
    text-decoration: none;
    background: #FF8852;
    cursor: pointer;
}

.ThirdComp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;

}

.content {
    padding-left: 100px;

}

.services-content > h2 {
    text-align: center;
}

