.sendAlerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sendAlerts > h1 {
    margin-bottom: 1rem;
}

.sos-alert-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.sos-button-container {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: #F5F5FA;
    border-radius: 30px;
    width: 100%;

    padding: 3rem 0 4rem 0;
}

.sos-button-container > h1 {
    font-size: 2rem;
    color: #313A51;
    text-align: center;
}

.sos-button-container > a {
    background: #F5F5FA;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #F5F5FA; /* Light border color */


}

.sos-button-container > a > button {
    margin: 1rem 0 1rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    /*background: #e53e3e;*/
    border: none;

    cursor: pointer;
    transition: all 0.3s ease;

    width: 200px;
    height: 200px;
    border-radius: 100%;

    background: radial-gradient(#FFAD59 0%, #FF7E7B 100%);
    text-decoration: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);


}

.sos-button-container > a > button:hover {
    font-size: 2rem;
    width: 220px;
    height: 220px;
}


/* Alert Logs */
.alerts-logs-container {
    font-family: Arial, sans-serif;
}

.alerts-logs-container > .alerts-logs-title {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: var(--orange);
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(odd) {
    background-color: #fff;
}

/* Hover effect */
.table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Loading and error styles */
.loading,
.error {
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-top: 20px;
}
